@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .font-outfit {
  font-family: 'Outfit', sans-serif;
}

.bg-color-day{
  background-color: #F6F8FF;
}
.bg-color-dark{
  background-color: #252627;
}
.neu{
  @apply border-2 border-black py-3 px-2 transition duration-100 ease-in-out hover:-translate-y-[3px] hover:-translate-x-[3px] hover:shadow-[3px_3px_0px_#000000];
}

.bg-color-hijau{
  background-color:#9eff02 ;
}

.loading {
  width:45px;
  height:60px;
  --c:linear-gradient(#9eff02 0 0);
  background:     var(--c) 0%   100%,    var(--c) 50%  100%,    var(--c) 100% 100%;
  background-size:9px 65%;
  background-repeat: no-repeat;
  animation:b8 1s infinite linear;
  -webkit-animation:b8 1s infinite linear;
}
@keyframes b8 {
    16.67% {background-position:0% 0%  ,50% 100%,100% 100%}
    33.33% {background-position:0% 0%  ,50% 0%  ,100% 100%}
    50%    {background-position:0% 0%  ,50% 0%  ,100% 0%  }
    66.67% {background-position:0% 100%,50% 0%  ,100% 0%  }
    83.33% {background-position:0% 100%,50% 100%,100% 0%  }

}
}