@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {


.neu{
  @apply border-2 border-border dark:border-darkBorder hover:translate-x-reverseBoxShadowX hover:translate-y-reverseBoxShadowY hover:shadow-light dark:hover:shadow-dark;
}
.neu-pressed{
  @apply neu active:translate-x-boxShadowX active:translate-y-boxShadowY active:shadow-pressed;
}

/* loading */
.loading {
  width:45px;
  height:60px;
  --c:linear-gradient(#9eff02 0 0);
  background:     var(--c) 0%   100%,    var(--c) 50%  100%,    var(--c) 100% 100%;
  background-size:9px 65%;
  background-repeat: no-repeat;
  animation:b8 1s infinite linear;
  -webkit-animation:b8 1s infinite linear;
}
@keyframes b8 {
    16.67% {background-position:0% 0%  ,50% 100%,100% 100%}
    33.33% {background-position:0% 0%  ,50% 0%  ,100% 100%}
    50%    {background-position:0% 0%  ,50% 0%  ,100% 0%  }
    66.67% {background-position:0% 100%,50% 0%  ,100% 0%  }
    83.33% {background-position:0% 100%,50% 100%,100% 0%  }
}
}